NODE_ENV=developement
# For Postgressql db
DB_HOST=localhost
DB_PORT=0003
DB_USERNAME=postgress
DB_PASSWORD=password
DB_DATABASE=department

# JWT
JWT_SECRET=jwt_secret
JWT_REFRESH_SECRET=refresh_secret